.settings{
    background-color: rgb(255, 233, 207);
}
.settingsWrapper{
    padding: 20px;
    color: mediumpurple;
}
.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.settingsUpdateTitle{
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(131, 101, 192);
    font-family: 'Lora','serif';
    font-weight: bolder;
}
.friends{
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 40dvh;
    color: rgb(131, 101, 192);
    background-color: ivory;
    font-family: 'Lora','serif';
    border: 2px solid mediumpurple;
    border-radius: 10px;
    cursor: pointer;
}
.friendList{
    display: flex;
    flex-direction: column;
    font-family: 'Lora','serif';
    background-color: rgb(185, 171, 214);
    font-size: 20px;
    border: none;
    
}
.addF{
    color: ivory;
    background-color: mediumpurple;
    font-family: 'Lora','serif';
    border: none;
    border-radius: 5px;
    margin-top: 3px;
    cursor: pointer;
}
.fName{
    border: none;
    font-size: 30px;
    background-color: mediumpurple;
    border-radius: 10px;
    width: 30vh;
    color: ivory;
}

.settingsDelTitle{
    color: black;
    font-size: 15px;
    cursor: pointer;
}

.settingsForm{
    display: flex;
    flex-direction: column;
}
.settingsProfPic{
    display: flex;
    align-items: center;
    margin-top: 10px 0;
}
.settingsProfPic > img{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
}
.settingsPPIcon{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color:bisque;
    color: mediumpurple;
    margin-left: 10px;
    cursor: pointer;
}

.settingsForm > label{
    font-size: 20px;
    margin-top: 20px;
}
.settingsForm > input{
    color: mediumpurple;
    margin: 10px 0;
    height: 30px;
    border: none;
    background-color:bisque;
    border-bottom: 1px solid rgb(170, 147, 216);
}

.personalsForm{
    color: rgb(117, 90, 172);
    font-size: 40px;
    margin: 15px;
    
}

.topFive{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.rank{
    margin-top: 20px;
    border: none;
    color: rgb(136, 104, 201);
    background-color: bisque;
    border-bottom: 1px solid rgb(170, 147, 216);
    font-size: 30px;
}
.FavGenre{
    margin-left: 10px;
    color: rgb(90, 7, 255);
    background-color: transparent;
    border:none;
    font-family: 'Lora','serif';
    font-size: 30px;
}

.topCategory{
    display: flex;
    justify-content: space-between;
}

.settingsSubmit{
    font-size: 100px;
    color: mediumpurple;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.Submit {
    background-color: transparent;
    border: none;
}