.libBooks{
    margin: 0px 25px 40px 25px;
    display: flex;
}

.bookCover{
    width: 150px;
    height: 250px;
    object-fit:fill;
    border-radius: 10px;
    cursor: pointer;
}

.bookInfo{
    color: mediumpurple;
    font-family: 'Merriweather', serif;
}

.bookGenre{
    font-size: 15px;
    color: mediumpurple;
    line-height: 20px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.bookTitle{
    font-family: 'Phudu', cursive;
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
}

.Pub_Auth{
    font-style: italic;
    font-size: 17px;
}

.bookDesc{
    color: rgb(106, 81, 156);
    font-size: 16px;
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.iconContainer {
    display: flex;
    align-items:flex-start;
}