.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 243, 228);
}
.registerTitle{
    font-size: 100px;
    color: mediumpurple;
    font-family: 'Lora', serif;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm > label{
    margin: 10px 0;
    color: mediumpurple;
    font-size: 45px;
}
.registerInput{
    padding: 10px;
    background-color: rgb(253, 216, 174);
    border: none;
    color: mediumpurple;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color:ivory;
    color: rgb(113, 79, 182);
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color:rgb(255, 212, 159);
    color: rgb(122, 93, 180);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 30px; 
}