.library{
    background-color: rgb(255, 233, 207);
}
.libWrapper{
    display: flex;
}
.ownList{
    overflow: hidden;
    overflow-y: scroll;
    height: 83vh;
}
.wishList{
    overflow: hidden;
    overflow-y: scroll;
    height: 83vh;
}

.favWrapper{
    display: flex;
}

.favWrapper > ul{
    white-space: nowrap;
}
.favWrapper > li{
    margin-top: 5px;
    display: inline-block;
}