.home{
    background-color: rgb(255, 233, 207);
}

.rec{
    
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 100px;
}

.home > h1{
    font-family: 'Lora', serif;
    font-size: 100px;
    color: mediumpurple;
    margin-bottom: 55px;
}
.recsOverall > h2{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color: mediumpurple;
    margin-bottom: 15px;
    border-bottom: 3px solid mediumpurple;
}
.home > ul{
    white-space: nowrap;
}
li{
    margin-top: 5px;
    display: inline-block;
}
