.Wish {
    color: white;
    background-color: mediumpurple;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    margin-left: 5px;
}

.buy {
    color: white;
    background-color: mediumpurple;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.read {
    color: white;
    background-color: mediumpurple;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.Fav {
    color: white;
    background-color: mediumpurple;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}